

@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Petit+Formal+Script&family=Playpen+Sans+Thai:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Molle&family=Petit+Formal+Script&family=Playpen+Sans+Thai:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body{
    background-image: url(basket4.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 50px 0;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(15px) brightness(170%);
    
}

header .nav_bar{
   font-size: 2rem;
   z-index: -1;
   padding: 0 1.5rem;
   text-transform: capitalize;
}

header .nav_bar a{
    font-weight: 405;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgb(13, 109, 0);
    margin-left: 2rem;
   font-family: "Fustat", sans-serif;
 }

header .nav_bar a:hover{
    color: rgb(71, 222, 6) ;
}

header #toggler{
    display: none;
}

header .fa-solid{
    font-size: 3rem;
    color: green;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.links:hover{
    color: rgb(9, 171, 9);
}

.links:active{
    color:  rgb(255, 145, 0);
}

.links:checked{
    color: rgb(1, 1, 1);
}

header .logo{
    border-radius: 120px;
    min-width: 60%;
    width:100px;
    height: 100px;
    opacity: .8;
}

.photo{
    position: absolute;
    top: 0;
    left: 5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    width: 100%;
    height: 70%;
    z-index: -20;
} 

.slogen{
    display: flex;
    position: relative;
    top: 220px;
    left: 150px;
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    z-index: 3;
    font-size: 110px;
    padding: 1rem;
    height: 550px;
}

input:focus{
    outline: 2px solid green;
}

h2{
    font-size: 36px;
    text-indent: 25px;
    margin: 20px 0;
}

.cont1, .us, .contact, .elem{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.main{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    position: relative;
    left: 25%; right: 0;
}

#top{
   display: grid;
  position: relative;
   width: 250px;
   margin: 25px 0;
   padding:3rem 0;
}

input{
    border-radius: 15px;
    padding: 5px 0;
    text-indent: 10px;
    background-color: rgba(255, 255, 255, .9);
    text-decoration: none;
    border: none;
}

#inp{
    background-color:rgb(6, 187, 6);
    color: #ffffff;
    border: none;
    margin-top: 10px;
}

#inp:hover{
    background-color: rgb(0, 154, 0);
}

.back h1{
    color: #2c8500;
    font-size: 24px;
}

.back{
     backdrop-filter: blur(25px) brightness(170%);
     border-radius: 45px;
     box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4), 10px 10px 60px 15px rgba(222, 225, 220, 0.4);
    background-color: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 15px;
    padding: 2rem 4rem;
}

label{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 10px 0 4px 0;
    font-weight: 500;
}

article, .trans, .cont, .elemek{
    margin:0 25px 25px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 2rem 3rem;
    width: 70%;
}

textarea{
    border-radius: 5px;
    width: 250px;
    height: 220px;
    overflow: auto;
    text-indent: 10px;
    border: none;
}

#text{
    font-size: 20px;
    margin-right: 30px;
}

h4{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3{
    font-size: 26px;
    margin: 25px 0;
}

h5{
    margin-top: 25px;
    float: right;
    font-size: 22px;
}

.text{
  font-size: 18px;
  text-indent: 15px;
  text-align: justify;
}

.container h1{
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
        padding: 15px;
        color: rgb(37, 101, 0);
        text-align: center;
        margin: 20px;
    }
    
  .container{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
}

 h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: rgb(4, 59, 0);
    text-align: center;
    text-transform: capitalize;
}

.container .image-cont{
    padding:  40px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

 .image-cont .image{
    height: 250px;
    width: 200px;
    border: 6px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}

.image-cont .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.proimg h4{
    font-size: 20px;
   text-align: center;
}

.price{
    font-size: 16px;
    text-align: center;
}

.elem .elemek .title{
    text-align: center;
    color: #143c00;
    font-size: 30px;
    margin-bottom: 100px;
}

.main, .container, .cont1, .us, .contact, .elem{
    margin-top: 10%;
}

@media (max-width: 991px) {

    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    .image{
        max-width: 140px;
        max-height: 150px;
    }
    
    .image img{
        display: grid;
    }
}

@media (max-width: 768px){

   header .fa-solid{
    display: block;
   }

   header .nav_bar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: rgba(255, 255, 255, .7);
    clip-path: polygon(0 0, 100% 0,100% 0, 0 0);
   }

header .nav_bar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #ffffff;
    border-radius: 5px;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: block;
}

.text{
     text-align: left;
}

header #toggler:checked ~ .nav_bar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slogen{
    font-size: 5rem;
    position: relative;
    left: 3%; right: 0%;
}

.slogen .p{
    font-size: 2.5rem;
}

.main, .trans, .container, .cont1, .us, .contact, .back, .elem{
    margin-top: 20%;
}
}

@media (max-width: 450px){
     
    html{
        font-size: 50%;
    }
}